[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/reflexer-labs/ds-token.git
[submodule "lib/geb-treasury-reimbursement"]
	path = lib/geb-treasury-reimbursement
	url = https://github.com/reflexer-labs/geb-treasury-reimbursement.git
